/* ---------- GLOBAL ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  line-height: 1.6;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}


.grid-con {
  padding: 100px;
}

/* ---------- FADE-IN ANIMATION ---------- */
.fade-in {
  opacity: 0;
}

/* ---------- HEADER ---------- */
header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background: #248A3B;
}

.logo {
  width: 200px;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

header nav a.active {
  border-bottom: 1px solid white;
}

/* ---------- MOBILE MENU ---------- */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  color: #1a1a1a;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Animation for the burger -> X */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #248A3B;
    transform: translateY(-150%);
    transition: transform 0.3s ease;
    text-align: center;
    border-bottom: 3px solid #1a1a1a;
    z-index: 10;
  }

  header nav.open {
    transform: translateY(0);
  }

  header nav ul {
    flex-direction: column;
    padding: 1rem 0;
  }

  nav ul li {
    margin: 1rem 0;
  }

  .menu-toggle {
    display: flex;
  }
}

/* ---------- HOME PAGE ---------- */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem 10%;
  padding-top: 5rem;
  gap: 1rem;
}

.intro h1 {
  margin-bottom: 1rem;
}

.intro p {
  max-width: 500px;
}

.profile-image {
  display: flex;
  justify-content: center;
}

.profile-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #d9d9d9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  object-fit: cover;
}

.btn-primary {
    display: inline-block;
    background-color: #2a2a2a;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Hover */
.btn-primary:hover {
    background-color: #248A3B; 
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.18);
}

/* Active */
.btn-primary:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}

/* ---------- ABOUT PAGE ---------- */

.about-me {
  max-width: 550px;
  margin-left: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.about-profile-image img {
  width: 500px;
  height: 500px;
  margin-bottom: 2rem;
  border-radius: 25%;
  background-color: #d9d9d9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  object-fit: cover;
}

/* Skills Icons */
.skills-icons {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.skills-icons img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: inline-block;
  transform: translateZ(0);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.skills-icons img:hover {
  transform: scale(1.15);
  opacity: 1;
}

.skills-header {
  margin-top: 1rem  ;
}

/* ---------- Video Section ---------- */
.video-wrapper video {
  width: 100%;
  max-width: 1000px;
  border-radius: 15px;
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  z-index: 1;
}

.video-center {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-title {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/* Controls overlay */
#video-controls {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 0.75rem 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);

  border-radius: 0 0 8px 8px;

  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 2;
}

.video-wrapper:hover #video-controls {
  opacity: 1;
}

#video-controls button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

#video-controls button:hover {
  color: #00aaff;
}

#change-vol {
  width: 120px;
  cursor: pointer;
}

#video-controls i {
  color: #fff;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #248A3B;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #31b650;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #36d25b;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #248A3B;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #31b650;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #36d25b;
  outline-offset: 0.125rem;
}


/* ---------- PROJECTS PAGE ---------- */
.projects-page {
  padding: 4rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.projects-intro {
  text-align: center;
  max-width: 700px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1100px;
  margin: 4rem;
}

/* Project Cards */

.project-card {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 2rem;
  margin: 0 auto 3rem auto;
  max-width: 750px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.project-card h2 {
  margin-bottom: 1rem;
}

.project-info {
  max-width: 700px; 
  margin: 1.5rem auto 0 auto;
}

/* Carousel */

.carousel {
  position: relative;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 14px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-track img,
.carousel-track video {
  min-width: 100%;
  height: auto;
  display: block;
  border-radius: 14px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #248a3cc4 ;
  color: white;
  border: none;
  font-size: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.prev-btn { left: 12px; }
.next-btn { right: 12px; }


/* ---------------- CONTACT PAGE ---------------- */

.contact-page {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem 1.5rem;
}

.contact-form-wrapper {
    width: 100%;
    max-width: 650px;
    background: #fff;
    padding: 3rem;
    border-radius: 18px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.contact-form-wrapper h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.contact-form-wrapper label {
    display: block;
    margin-top: 1.2rem;
    font-weight: 600;
}

.contact-form-wrapper input,
.contact-form-wrapper textarea {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    transition: 0.25s ease;
}

.contact-form-wrapper input:focus,
.contact-form-wrapper textarea:focus {
    border-color: #248A3B;
    background: #fff;
    outline: none;
}

textarea {
    min-height: 140px;
}

.btn-primary {
    background: #2a2a2a;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: #248A3B;
    transform: translateY(-2px);
}

.form-message {
    padding: 1rem 1.2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    animation: fadeIn 0.4s ease-out;
}

.form-success {
    background: #d6f5da;
    color: #248A3B;
    border-left: 6px solid #248A3B;
}

.form-error {
    background: #f8d7da;
    color: #842029;
    border-left: 6px solid #c0392b;
}


/* ---------- FOOTER ---------- */
footer {
  width: 100%;
  background: #1a1a1a; 
  padding-top: 60px;   
  padding-bottom: 60px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  gap: 100px;
  overflow: hidden;
}

.footer-col h3 {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-weight: 700;
}

.footer-col a,
.footer-col p {
  display: block;
  color: white;
  margin-bottom: 12px;
  font-size: 15px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: white;
}

.footer-logo img {
  width: 250px;     
  height: auto;
  display: flex-start;
  margin-bottom: 40px;
}

#footer-nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

#footer-nav-menu a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-logo img {
    width: 100px; 
    margin-bottom: 20px;
  }

  .footer-col {
    width: 100%;
  }

  .footer-col h3 {
    margin-bottom: 10px;
  }

  #footer-nav-menu ul {
    gap: 4px;
  }
}


/* ---------- MEDIA QUERIES ---------- */


/* TABLET (max 1024px) */
@media (max-width: 1024px) {

  header {
    padding: 1.5rem;
  }

  nav ul {
    gap: 1rem;
  }

  .home {
    grid-template-columns: 1fr 1fr;
    padding: 2rem 5%;
  }

  .profile-image img {
    width: 300px;
    height: 300px;
  }

  .project-card {
    max-width: 90%;
  }

  .carousel {
    max-width: 100%;
  }
}

/* MOBILE (max 768px) */
@media (max-width: 768px) {

  header {
    padding: 1.2rem;
  }

  /* Enable mobile menu */
  .menu-toggle {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .home {
    grid-template-columns: 1fr;
    padding: 2rem 1.5rem;
  }

  .profile-image img {
    width: 250px;
    height: 250px;
  }

  .profile-image {
    margin-top: 4rem;
  }

  .intro {
    text-align: center;
  }

  /* About Page */

  /* About Tablet */
@media (max-width: 1024px) {
  .about-me {
    margin-left: 1rem;
    max-width: 100%;
  }

  .about-profile-image img {
    width: 350px;
    height: 350px;
  }

  .skills-icons {
    flex-wrap: wrap;
  }
}

/* About Mobile */
@media (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
  }

  .about-profile-image img {
    width: 260px;
    height: 260px;
    margin-bottom: 1.5rem;
    align-items: center;
  }

  .about-me {
    margin-left: 0;
    max-width: 100%;
    text-align: left;  
  }

  .skills-icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
  }
}

@media (max-width: 768px) {
  .about-profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about-profile-image img {
    margin-bottom: 4rem;
    display: block;
  }
}

  /* Projects page */
  .project-card {
    width: 100%;
    padding: 1.2rem;
  }

  .carousel-btn {
    width: 38px;
    height: 38px;
    font-size: 1.5rem;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
  }

  .footer-logo img {
    width: 140px;
  }
}

/* SMALL MOBILE (max 480px) */
@media (max-width: 480px) {

  h1 {
    font-size: 1.8rem;
  }

  .btn-primary {
    width: 100%;
    padding: 1rem;
  }

  .carousel-btn {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
  }
}
